.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5em);
}

.container {
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
  width: 80vw;
}

.container h1 {
  color: #333;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.container p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 1em;
}

.event {
  background-color: #f9f9f9;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.event:hover {
  background-color: #f1f1f1;
}

.alter * {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  margin-left: 0px;
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.alter *:hover {
  background-color: #388e3c;
}
